attrs==19.3.0
backcall==0.1.0
-e git+https://github.com/gautsi/climate.git@f4f9cfa4276771e8b3d731458da32a92cac32620#egg=climate
cycler==0.10.0
decorator==4.4.1
importlib-metadata==1.4.0
ipykernel==5.1.3
ipython==7.11.0
ipython-genutils==0.2.0
jedi==0.15.2
joblib==0.14.1
jupyter-client==5.3.4
jupyter-core==4.6.1
kiwisolver==1.1.0
matplotlib==3.1.2
more-itertools==8.1.0
numpy==1.18.0
packaging==20.0
pandas==0.25.3
parso==0.5.2
pexpect==4.7.0
pickleshare==0.7.5
pkg-resources==0.0.0
pluggy==0.13.1
prompt-toolkit==3.0.2
ptyprocess==0.6.0
py==1.8.1
Pygments==2.5.2
pyparsing==2.4.6
pytest==5.3.4
python-dateutil==2.8.1
pytz==2019.3
pyzmq==18.1.1
scikit-learn==0.22.1
scipy==1.4.1
six==1.13.0
tornado==6.0.3
tqdm==4.41.1
traitlets==4.3.3
wcwidth==0.1.7
zipp==2.0.0
